@import url("https://use.typekit.net/afk8nwu.css");
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.only-on-mobile {
	display: none;
}

/* HAMBURGER MENU
----------------------------------*/

.hamburger .line{
  width: 30px;
  height: 4px;
  background-color: #333;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main a {
	color: #999;
	font-weight: bold;
}

.hamburger {
	display: none;
	position: absolute;
	right: 5%;
	top: 18px;
	z-index: 2;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hamburger.is-active, #wrapper.is-active {
	transform: translateX(-200px);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.cv nav ul ul {
 	padding: 0;
}

.cv nav li li {
	margin-right: 0;
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
	width: 200px;
	z-index: 1;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	background: #f5f5f5;
	padding: 20px;
	visibility: hidden;
	transform: translateX(200px);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

main {
	margin: 15px 0 50px;
}

article p:last-of-type {
	margin-bottom: 0;
}

.mobile-nav ul ul {
	display: none;
	padding-left: 15px;
	margin-top: 10px;
}

.mobile-nav a {
	color: #333;
	display: block;
	padding: 5px 0;
}

.mobile-nav.is-active {
	transform: translateX(0);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	visibility: visible;
}

/* HAMBURGER MENU
----------------------------------*/

body {
	margin: 0;
	font-family: 'Cormorant Garamond', Garamond, serif;
	line-height: 1.5em;
}

strong {
	font-weight: bold;
}

p, ol, ul {
	font-size: 18px;
	line-height: 1.5em;
}

em {
	font-style: italic;
}

.cv ul {
	margin-bottom: 15px;
}

.cv ul ul {
	padding-left: 20px;
}

.cv li {
	margin-bottom: 15px;
}

a {
	color: #999;
	text-decoration: none;
}

p {
	margin: 0 0 15px;
}

.section-title {
	position: absolute;
	top: -13px;
	font-size: 100px;
	opacity: .1;
	line-height: .8em;
	letter-spacing: -0.06em;
	width: 100%;
	
}

#left-side h1 {
	font-family: Arial, sans-serif;
	font-weight: 300;
	text-align: right;
	font-size: 40px;
	line-height: 1em;
	color: #000;
	margin-bottom: 0;
}

#wrapper {
	padding: 0 25px 25px 0;
	margin: auto;
	max-width: 1600px;
	transition: 0.5s ease-in-out;
}

.home #wrapper {
	padding: 0;
}

nav {
	text-align: center;
	margin-bottom: 25px;
}

.cv nav ul, .cv nav li {
	margin-bottom: 0;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav li:after, nav li:first-child:before {
	content: '//';
	position: absolute;
	top: 5px;
	right: -8px;
	
}

nav li.menu-item-has-children li:first-child:before, nav li.menu-item-has-children li:first-child:after {
	display: none;
}

nav li:last-child:after {
	display: none;
}

nav li:last-child {
	margin-right: 0;
}

nav li:last-child a {
	padding-right: 0;
}

nav ul ul {
	display: none;
}

nav ul ul li:first-of-type {
	margin-top: 10px;
}

nav ul ul a {
	color: #999;
}

iframe {
	display: block;
}

div.vp-player-layout {
	width: 100%!important;
}

#left-side {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.home #left-side {
	border-right: none;
}

.inner {
	max-width: 1280px;
	margin: auto;
	padding: 25px 0;
}

#right-side {
	padding-top: 25px;
	position: relative;
}

.home #right-side {
	padding-top: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.clearfix:after	{
	display: table;
	content: '';
	clear: both;
}

.center-col {
	width: 100%;
}

.center-col img {
	width: 100%;
	height: auto;
	display: block;
}

.menu ul {
	padding: 0;
	margin: 0;
}

.right-col {
	width: 100%;
	padding: 25px;
}

.copyright {
	text-align: center;
	font-size: 15px;
	margin: 0;
	padding: 15px 0;
}

h1 {
	font-size: 22px;
	margin: 0 0 15px;
	font-weight: 700;
}

.right-col ul {
	margin: 15px 0;
	padding: 0 0 0 18px;
}

.right-col li {
	list-style: disc;
}

nav li, .mobile-nav li {
	padding: 0 0 10px;
	position: relative;
}

nav li a {
	text-decoration: none;
	color: #000;
	display: block;
	position: relative;
	font-size: 18px;
}

.date {
	font-size: 15px;
	margin: 0 0 25px;
	display: block;
}

.single-title {
	margin: 25px 0 15px;
}

.logo {
	text-align: center;
}

.logo a {
	display: inline-block;
}

.single-content ul {
	list-style: disc;
	padding: 0 0 0 18px;
	margin: 15px 0;
}

nav ul ul li {
	display: block;
	text-align: left;
}

nav li.menu-item-has-children a {
	padding-right: 12px;
}

.open nav li.menu-item-has-children:after, .open .mobile-nav li.menu-item-has-children:after {
	transform: rotate(180deg);
	transition: .5s ease-in-out;
}

article {
	margin: 0 0 50px;
}

article:last-of-type {
	margin-bottom: 0;
}

.poster-container {
	margin: 0 0 25px;
}

.poster-container:nth-last-child(2) {
	margin-bottom: 0;
}

nav li.menu-item-has-children:after, .mobile-nav li.menu-item-has-children:after {
	content: '\f0d7';
	right: 10px;
	font-family: fontAwesome;
	position: absolute;
	top: 1px;
	line-height: 37px;
	font-size: 12px;
	transition: .5s ease-in-out;
}

.archive article, .portfolio-index article {
	padding-bottom: 50px;
	border-bottom: 1px solid #e9e9e9;
}

.archive article:last-of-type, .portfolio-index article:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

nav li {
	padding: 0;
}

#wrapper {
	padding: 0 5%;
}

#left-side {
	position: relative;
	width: 100%;
	padding: 0;
	border-right: none;
}

.contact-info {
	margin: 0 0 30px;
}

.cv strong {
	margin-top: 30px;
	display: block;
}

.contact-info p {
	margin: 0;
	padding: 0;
}

.home #right-side {
	margin-left: 0;
}

#left-side h1 {
	text-align: center;
	width: 100%;
	display: inline-block;
}

.home #left-side {
	padding: 0 5%;
}

.home #left-side .inner {
	margin-bottom: 0;
	border-bottom: none;
}

nav li.menu-item-has-children a {
	padding-right: 22px;
}

nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	width: 175px;
	border: 1px solid #f5f5f5;
}

.gallery-photos li {
	margin-bottom: 25px;
}

nav ul ul li:first-of-type {
	margin-top: 0;
}

nav ul ul a {
	padding: 5px 20px;
}

nav li a {
	padding: 5px 15px 5px 0;
}

@media (min-width: 981px) {

.home section {
	max-width: none;
}
}

@media (min-width: 600px) {

section {
	max-width: 600px;
	margin: auto;
}
}

@media (max-width: 767px) {

#left-side h1 {
	font-size: 18px;
	text-align: left;
}
}

@media (max-width: 812px) and (orientation: landscape) {

#left-side h1 {
	line-height: 34px;
}

.hamburger {
	top: 26px;
}
}

.video iframe {
	background: #000;
	height: 300px;
	margin: 0 0 25px;
}

@media (max-width: 980px) {

.video iframe  {
	height: 300px;
	/*background: #000;*/
}

.only-on-mobile {
	display: block;
}
.only-on-desktop {
	display: none;
}

.section-title {
	position: relative;
	top: auto;
	margin: 0 0 30px;
	font-size: 60px;
}

#right-side, #left-side {
	padding-top: 0;
	margin-top: 0;
}

nav li {
	display: inline-block;
	margin-bottom: 0;
	text-align: left;
}

#right-side {
	margin-left: 0;
	padding-left: 0;
	border-left: 0;
}
}

.cv article p:last-of-type {
	margin-bottom: 15px;
}

@media (max-device-width: 1366px) {

nav li a:after {
	display: none;
}
}

@media (min-width: 1600px) {

#left-side {
	left: auto;
}
}

.thumbnail-img {
	float: left;
	margin: 0 2% 0 0;
	width: 24%;
}

.archive-content {
	width: 74%;
	float: left;
}

@media (max-width: 767px) {

.center-col, .right-col {
	float: none;
	width: 100%;
}

.post-navigation .half:nth-child(2n) {
	width: 50%;
}

.logo {
	text-align: left;
}

nav {
	display: none;
}

.hamburger {
	display: block;
}

.right-col {
	padding-top: 25px;
}
}

@media (max-width: 600px) {

.thumbnail-img {
	margin: 0 5% 0 0;
	width: 30%;
}

.archive-content {
	width: 65%;
}
}

@media only screen and (min-width: 768px)
                   and (max-width: 1080px) {

.post-navigation a {
	font-size: 15px;
}

.post-navigation .half {
	float: left;
	width: 45%;
	margin: 0 5% 0 0;
	min-height: 1px;
}

.post-navigation .half:nth-child(2n) {
	margin-top: 0;
	margin-right: 0;
	text-align: right;
}
}

.half {
	float: left;
	width: 45%;
	margin: 0 5% 0 0;
	padding-left: 5px;
}
.half:nth-child(2n) {
	margin: 13px 0 0 0;
	width: 50%;
	padding-left: 0;
	padding-right: 5px;
}

.post-navigation .half:nth-child(2n) {
    margin-top: 0;
    margin-right: 0;
    text-align: right;
}

.next-link a:after {
    font-family: fontAwesome;
    left: 5px;
    content: '\f101';
    top: 0;
    position: relative;
    font-size: 13px;
}

.prev-link a:before {
    font-family: fontAwesome;
    right: 5px;
    content: '\f100';
    top: 0;
    position: relative;
    font-size: 13px;
}

.post-navigation {
	margin: 25px 0 0;
}

.post-navigation a {
	font-size: 15px;
}