/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://use.typekit.net/afk8nwu.css");
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.only-on-mobile {
	display: none;
}

/* HAMBURGER MENU
----------------------------------*/

.hamburger .line{
  width: 30px;
  height: 4px;
  background-color: #333;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger {
	display: none;
	position: absolute;
	right: 5%;
	top: 8px;
	z-index: 2;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hamburger.is-active, #wrapper.is-active {
	transform: translateX(-200px);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
	width: 200px;
	z-index: 1;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	background: #f5f5f5;
	padding: 20px;
	transform: translateX(200px);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.mobile-nav ul ul {
	display: none;
	padding-left: 15px;
	margin-top: 10px;
}

.mobile-nav a {
	color: #333;
	display: block;
}

.mobile-nav.is-active {
	transform: translateX(0);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* HAMBURGER MENU
----------------------------------*/

body {
	margin: 0;
	font-family: "muli", Muli, sans-serif;
	font-family: 'Cormorant Garamond', serif;
	line-height: 1.5em;
}

strong {
	font-weight: bold;
}

p, ol, ul {
	font-size: 18px;
}

.cv p {
	margin: 30px 0 15px;
}

em {
	font-style: italic;
}

.cv ul {
	margin-bottom: 15px;
}

.cv ul ul {
	padding-left: 20px;
}

.cv li {
	margin-bottom: 15px;
}

a {
	color: #999;
	text-decoration: none;
}

p {
	margin: 0 0 15px;
}

.section-title {
	position: absolute;
	top: -13px;
	font-size: 100px;
	opacity: .1;
	line-height: .8em;
	letter-spacing: -0.06em;
	width: 100%;
	
}

#left-side h1 {
	font-family: Arial, sans-serif;
	font-weight: 300;
	text-align: right;
	font-size: 30px;
	line-height: 1em;
	color: #000;
	margin-bottom: 0;
	float: left;
}

#wrapper {
	/*padding: 25px;*/
	padding: 0 25px 25px 0;
	margin: auto;
	max-width: 1600px;
	transition: 0.5s ease-in-out;
}

.home #wrapper {
	padding: 0;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
}

nav ul ul {
	display: none;
}

nav ul ul li:first-of-type {
	margin-top: 10px;
}

nav ul ul a {
	color: #999;
}

iframe {
	display: block;
}

div.vp-player-layout {
	width: 100%!important;
}

/*#left-side {
	width: 175px;
	top: 0;
	position: fixed;
	left: 0;
	height: 100%;
	padding: 0 50px;
	display: table;
	/*margin-top: 200px;
	border-right: 1px solid #e9e9e9;
	padding-top: 0;
	z-index: 1;
}*/

#left-side {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.home #left-side {
	border-right: none;
}

.inner {
	max-width: 1280px;
	margin: auto;
	padding: 25px 0;
}

/*.inner {
	display: table-cell;
	vertical-align: middle;
}*/

.logo {
	position: relative;
	top: -11px;
}

#right-side {
	/*margin-left: 250px;
	border-left: 1px solid #e9e9e9;*/
	padding-top: 25px;
	position: relative;
}

.home #right-side {
	padding-top: 0;
	/*margin-left: 240px;*/
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.clearfix:after	{
	display: table;
	content: '';
	clear: both;
}

.center-col {
	width: 100%;
}

.home .center-col {
	width: 100%;
	background: url(../img/creagen_cover-image_tape.jpg);
	background-size: contain;
	height: 100vh;
	background-position: top center;
	background-repeat: no-repeat;
}

.right-col {
	width: 100%;
	padding: 25px;
}

h1 {
	font-size: 22px;
	margin: 0 0 15px;
	font-weight: 700;
}

.right-col ul {
	margin: 15px 0;
	padding: 0 0 0 18px;
}

.right-col li {
	list-style: disc;
}

nav {
	/*padding: 30px 0;*/
	/*text-align: right;*/
}

nav li, .mobile-nav li {
	padding: 0 0 10px;
	position: relative;
}

nav li a {
	text-decoration: none;
	color: #000;
	display: block;
	position: relative;
	font-size: 18px;
}

nav ul ul li {
	display: block;
}

nav li.menu-item-has-children a {
	padding-right: 12px;
}

nav li a:after {
	width: 0;
	content: '';
	background: #e9e9e9;
	height: 1px;
	transition: width .5s ease-in-out;
	position: absolute;
	top: 100%;
	left: 0;
}

.open nav li.menu-item-has-children:after {
	transform: rotate(180deg);
	transition: .5s ease-in-out;
}

nav li a:hover:after {
	width: 100%;
	transition: width .5s ease-in-out;
}

article {
	margin: 0 0 50px;
}

article:last-of-type {
	margin-bottom: 0;
}

.logo {
	max-width: 150px;
}

.poster-container {
	margin: 0 0 25px;
}

.poster-container:nth-last-child(2) {
	margin-bottom: 0;
}

nav li.menu-item-has-children:after {
	content: '\f0d7';
	right: 10px;
	font-family: fontAwesome;
	position: absolute;
	top: 1px;
	line-height: 34px;
	font-size: 12px;
}

nav li {
	padding: 0;
}

#wrapper {
	padding: 0 5%;
}

#left-side {
	position: relative;
	width: 100%;
	padding: 0;
	border-right: none;
}

.home #right-side {
	margin-left: 0;
}

#left-side h1 {
	text-align: left;
	float: left;
}

.home #left-side {
	padding: 0 5%;
}

.home #left-side .inner {
	margin-bottom: 0;
	border-bottom: none;
}

nav li.menu-item-has-children a {
	padding-right: 22px;
}

nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	background: rgba(255, 255, 255, .85);
	width: 150px;
	border: 1px solid #f5f5f5;
}

.header {
	position: relative;
	width: 100%;
}

nav ul ul li:first-of-type {
	margin-top: 0;
}

nav ul ul a {
	padding: 5px 20px;
}

nav li a {
	padding: 5px 10px;
}

@media (min-width: 981px) {

section {
	max-width: 400px;
}

/*nav li.menu-item-has-children:after, .mobile-nav li.menu-item-has-children:after {
	line-height: 24px;
}*/

.home section {
	max-width: none;
}

.header {
	position: absolute;
}
}

@media (max-width: 812px) {

#left-side h1 {
	font-size: 18px;
}
}

@media (max-width: 812px) and (orientation: landscape) {

#left-side h1 {
	line-height: 34px;
}

.hamburger {
	top: 15px;
}
}

@media (min-width: 768px) and (orientation: portrait) {

#left-side h1 {
	line-height: 34px;
}
}

.video-screen-bg {
	background: #000;
	height: 300px;
}

@media (max-width: 980px) {

/*nav li.menu-item-has-children:after {
	content: '\f0d7';
	right: 10px;
	font-family: fontAwesome;
	position: absolute;
	top: 1px;
	line-height: 34px;
	font-size: 12px;
}

nav li {
	padding: 0;
}*/

.video-screen-bg  {
	height: 300px;
	/*background: #000;*/
}

.only-on-mobile {
	display: block;
}
.only-on-desktop {
	display: none;
}

.section-title {
	position: relative;
	top: auto;
	margin: 0 0 30px;
	font-size: 60px;
}

.logo {
	top: auto;
}

#right-side, #left-side {
	padding-top: 0;
	margin-top: 0;
}

.logo {
	float: left;
}

nav {
	float: right;
	padding: 0;
	display: table;
}

nav ul {
	display: table-cell;
	vertical-align: middle;
}

nav li {
	display: inline-block;
	margin-bottom: 0;
	text-align: left;
}

#right-side {
	margin-left: 0;
	padding-left: 0;
	border-left: 0;
}

.inner {
	display: block;
	margin-bottom: 25px;
	padding: 15px 0;
}

.home .center-col {
	height: calc(100vh - 64px);
}
}

@media (max-device-width: 1366px) {

nav li a:after {
	display: none;
}
}

@media (min-width: 1600px) {

#left-side {
	left: auto;
}
}

@media (max-width: 767px) {

.center-col, .right-col {
	float: none;
	width: 100%;
}

.home .center-col {
	height: calc(100vh - 48px);
}

nav {
	display: none;
}

.hamburger {
	display: block;
}

.right-col {
	padding-top: 25px;
}
}